a{
    text-decoration: none;
    font-size: 200%;
    color:#666666;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

a:visited {
    color: #666666;
}

a:hover {
   background: linear-gradient(to right, #C0C0C0  , transparent);
   color: white;;
   text-decoration: none;
}

#headerStyle
{
  background-image: url("assets/images/bg2.jpg");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

nav{
  text-align: right;
  opacity: 0.5;
}

#qhome{
  float:left;
}

.bannerText{
  padding-top: 140px;
}

#learnMore{
  text-align: center;

}

#learnMore:hover{
    background: radial-gradient(circle, #C0C0C0, transparent, transparent);
}

.section1{
  height: 200px;
  background-color: #009999;
  text-align: center;
  margin: 0px;
  color: #666666;
}

#description{
  margin: 0px;
}

#icons{
  text-align: center;
  padding-top: 20px;
  font-size: 450%;
}

#icons i{
  padding-left: 50px;
  padding-right: 50px;
}

#icons i:hover{
  background: radial-gradient(circle, #C0C0C0, transparent, transparent);
  border-radius: 100%;
  color: white;
  transform:rotate(90deg);
  -webkit-transition-duration: 1s;
}

.colInline{
  float:left;
  width: 33.33%;

}

#top{
  background: #4d4d4d;
  text-align: center;
}


.container.wrapper img{
  float: left;
  width: 30%;
}

#footerId{
  clear: both;
}

.imgWrapper{
width: 33.33%;
float: left;
padding: 20px;
box-sizing: border-box;
}

.imgWrapper img{
  width: 100%;
  transition-duration: 1s;
  opacity: 0.9;
}

.imgWrapper img:hover{
  transform: scale(1.2,1.2);
  -webkit-transition-duration: 1s;
  opacity: 1;
}

#footerId img{
  width: 50px;
}

#topId:hover{
  transform: translate(0px,-35px);
  -webkit-transition-duration: 1s;
}
