a{
  text-decoration: none;
  color:white;
}

#qhome{
  padding-top: 20px;
  float:left;
}

body{
  background-color: #009999;
  font-size: 16px;
}

.wrapper{
  padding-top: 5em;
}

.inner-wrapper{
  margin: 0 auto;
  width: 50%;
}


h1{
  color: white;
  text-align: center;
  font-size: 3em;
}

.wrapper input{
  font-size: 2em;
  width: 18em;
  display: block;
  background-color: transparent;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
}

.wrapper label{
  font-size: 2em;
  color: white;
  display: inline-block;
  margin-top: 0.5em;
}



.wrapper button{
  margin-top: 1.5em;
  float: right;
  right: 0;
  font-size: 2.2em;
  color: white;
  background-color: transparent;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
}




@media (max-width: 900px) {
  body {
    font-size: 12px;
    float: left;
  }
  .wrapper button{
    float: none;
    width: 16.5em;
  }
}


@media (min-width : 900px) and (max-width:1200px) {
  body {
    font-size: 12px;
    float: left;
  }
  .wrapper button{
    float: none;
    width: 16.5em;
  }
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
    float: left;
  }
  .wrapper button{
    float: none;
    width: 16.5em;
  }
  h1{
    padding-top: 1em;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 8px;
    float: left;
  }
  .wrapper button{
    float: none;
    width: 16.5em;
  }
  h1{
    padding-top: 1em;
  }
}
