
a{
  text-decoration: none;
//  font-size: 200%;
  color:white;
}

#qhome{
  padding-top: 20px;
  float:left;
}

body{
  background-color: #009999;
}

.wrapper{
  padding-top: 100px;
}

.inner-wrapper{
  margin: 0 auto;
  width: 50%;
}


h1{
  color: white;
  text-align: center;
  width: 55%;
}

input{
  font-size: 30px;
  width: 800px;
  display: block;
  background-color: transparent;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
    margin-top: 15px;
}

label{
  font-size: 30px;
  color: white;
  display: inline-block;
  margin-top: 15px;
}

.radioBtn{
width: 27px;
height: 27px;
vertical-align: text-bottom;
}

.log-wrapper{
  text-align: right;
  font-size: 30px;
  color: white;
}

button{
  margin-top: 40px;
  /*float: right;
  margin-right: 120px;*/
  font-size: 30px;
  color: white;
  background-color: transparent;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
}

.loginInputs label,.loginInputs input{
  width: 100%;
}

.log-wrapper button,.log-wrapper input{
  display: inline-block;
}
